<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SpringBoot with html form</h1>
<form action="/register" method="post">
<label for="firstname">First Name:</label> <br>
<input type="text" name="fname" id="firstname"> <br>
<label for="lastname">last Name:</label> <br>
<input type="text" name="lname" id="lastname"> <br>
<label for="email">Email :</label> <br>
<input type="text" name="email" id="email"> <br>
<label for="dob">DOB :</label> <br>
<input type="date" name="dob" id="dob"> <br><br>


<button type="submit">Submit</button>
</form>
</body>
</html>